{% extends "Pagina_web_analisis_app/base.html" %}

{% load static %}

{% block content %} 

  <br>
  <br>
    <!-- Message -->
    <h1 class="section-heading mb-4">
        <p></p>
      <span class="section-heading-lower text-center">Análisis exploratorio de las iniciativas de ley con el TF/IDF</span>
    </h1>

    <section class="page-section cta">
      <div class="container">
        <div class="row">
              <h4>
              <p class="mb-0 text-center"><strong>Introducción</strong></p>
              <br>
              <p class="mb-0">México tiene una brecha de género del 75.4%. El índice de la brecha de género analiza la división de los recursos y las oportunidades entre hombres y mujeres en 153 países. Mide el tamaño de la brecha de dicha desigualdad de género en la participación en la economía y el mundo laboral cualificado, en política, acceso a la educación y esperanza de vida. Y fue introducido en 2010 por el Programa de las Naciones Unidas para el Desarrollo (PNUD).</p>
              <br>
              <p class="mb-0">Además, en México los hombres ganan 30% más que las mujeres y los géneros no binarios. La brecha salarial puede tener diferentes razones, sin embargo, como nos explica el artículo de Galván, una de ellas es que la mayoría de las mujeres están trabajando en los puestos con menor salario. Esto puede ser debido a dos cosas. La primera, que las mujeres por decisión propia escojan estos puestos y la segunda, que las mujeres son orilladas a puestos de menor compensación. Más aún, las mujeres en puestos donde el salario es más alto siguen ganando menos que sus compañeros hombres.</p>
              <br>
              <p class="mb-0">Las mujeres también representan la mayoría en el rubro de deserción estudiantil por falta de recursos económicos. El 55% de quienes dejan la escuela por no poder pagar por ella son mujeres, el 45% restante son hombres (Juarez, B, 2021). </p>
              <br>
              <p class="mb-0">En 2018, el presidente Andrés Manuel López Obrador formó un gabinete paritario. Pero, no lo mantuvo, pues actualmente hay sólo siete mujeres al frente de las 19 secretarías de Estado. Nosotros decidimos hacer uso de la base de datos que teníamos para analizar qué ha hecho el gobierno para disminuir la desigualdad de género. Así, tomamos los 3 tipos de ley más modificados en lo que va de su gobierno e hicimos un análisis TF/IDF para encontrar la relación con las iniciativas de ley que buscan la igualdad.</p>
              <br>
              <p class="mb-0">Para nuestro análisis, se revisaron las leyes con más modificaciones en el sexenio de AMLO y de EPN. Se decidió usar las de mayor frecuencia, 
                para así poder narrar y explicar el camino que han seguido los dos presidentes.</p>
                <p class="mb-0">Las leyes que se escogieron son:</p>
              <ul>
                <li><p class="mb-0">Ley del impuesto sobre la renta</p></li>
                <li><p class="mb-0">Código penal federal</p></li>
                <li><p class="mb-0">Ley general de educación</p></li>
              </ul>
              <br>
              <p class="mb-0"><strong>Ley del impuesto sobre la renta</strong></p>
              <br>
              <p class="mb-0">El Impuesto Sobre la Renta (ISR) es una carga fiscal directa que se aplica a los ingresos obtenidos que incrementen el patrimonio de un contribuyente, por lo que las personas físicas y morales (empresas) están obligadas al pago de este impuesto. (Instituto Mexicano de Contadores Públicos, 2019)</p>  
              <br>
              <p class="mb-0">Este tipo de ley es la primera más modificada en el sexenio de AMLO y nuestro objetivo será buscar si se están dando estímulos con el objetivo de disminuir la desigualdad y cuáles son las acciones por las que se están dando.</p>
              <br>
              <p class="mb-0">Se usó, la siguiente lista de tokens, para el análisis del tf/idf:</p>
              <br>
              <p class="mb-0"><strong>Tokens:</strong> [Aportaciones, deducción, deducciones, deducibilidad, deducibles, deducir, discriminación, educación, establecer, estímulo, género, igualdad, impuesto, ingreso, ingresos, laboral, mujer, perspectiva, política, prestaciones, reducir, renta]</p>
              <br>
              <p class="mb-0"><strong>Resultados:</strong></p>
              <br>
              <table>
                <tr>
              
                  <th scope="col">ID</th>
              
                  <th scope="col">Abstract</th>
              
                  <th scope="col">TF/IDF</th>

                  <th scope="col">Status</th>
              
                </tr>
              
                <tr>
              
                  <td>17911</td>
              
                  <td>Otorgar un estímulo fiscal a los contribuyentes del impuesto sobre la renta que cuenten con la certificación en igualdad laboral y no discriminación.</td>
              
                  <td>1.779387</td>

                  <td>Aprobada</td>
              
                </tr>
              
                <tr>
              
                  <td>5976</td>
              
                  <td>Otorgar un estímulo a los contribuyentes del impuesto sobre la renta que cuenten con la certificación vigente en la norma mexicana en igualdad laboral y no discriminación.</td>
              
                  <td>1.573215</td>

                  <td>Aprobada</td>
              
                </tr>
              
                <tr>
              
                  <td>18628</td>
              
                  <td>Incorporar el enfoque de género en la política laboral.</td>
              
                  <td>1.185358</td>

                  <td>Desechada</td>
              
                </tr>
              </table>
              <br>
              <p class="mb-0">Haciendo uso de los tokens que escogimos para el análisis tf/idf pudimos encontrar que en dos iniciativas aprobadas hubo un índice alto de coincidencia. La ley a la cual estas iniciativas afectaron fue la del impuesto sobre la renta. Ambas iniciativas buscaban mejorar las condiciones laborales para las personas que sufrían de discriminación en el trabajo. 
                De hecho, una iniciativa es la consolidación de la anterior. Al proponer esta norma mexicana se buscaba un incentivo para cumplir con un 40% de un mismo sexo trabajando en la empresa y al mismo tiempo que el 10% de los puestos directivos fueran ocupados por mujeres. El impacto de esta norma, más no ley, ha sido nulo. Puesto que, solo el 0.031% de las empresas mexicanas cumplen con esta norma que permite un descuento en el pago sobre la renta de los salarios otorgados.
                </p>
                <br>
              <p class="mb-0">En la siguiente imagen, se muestran algunas estadísticas sobre la violencia de género en el sexenio de EPN. Esto para conocer la situación que se vivió durante su sexenio en
                el tema de violencia de género.
              </p>
            
              <section class="page-section clearfix">
                <div class="container">
                  <div class="introse">
                    <img class="introse-img img-fluid mb-3 img-center mb-lg-0 rounded" src="{% static 'Pagina_web_analisis_app/img/violencia_genero_epn.png' %}" alt="">
                    <p>(Pictoline, 2015).</p>
                  </div>
                </div>
              </section>
              
              <p class="mb-0"><strong>Código penal federal</strong></p>
              <br>
              <p class="mb-0">Después, de un amplio análisis, se escogieron los siguientes tokens para realizar el TF/IDF:</p>
              <br>
              <p class="mb-0"><strong>Tokens:</strong> [Tipificar, delito, pena, multa, sexual, mujer, maltrato, animal, extorsión, robo, eliminar, aumentar, incrementar, género, menores, edad, violación]</p>
              <br>
              <p class="mb-0">En el análisis de las propuestas, obtuvimos que las palabras "violencia de género", "mujer", "sexual", "violación", "maltrato" y 
                "pena" se repetían frecuentemente. Después, al hacer el análisis TF/IDF, nos encontramos con que existía una relación con el tema de violencia 
                de género, sin embargo, las leyes modificadas aparecían como ‘tipificadas’. Esto significa que estas leyes fueron clasificadas. No obstante, 
                no encontramos como tal una penalización mayor o un trato contundente de estas. Es decir, las leyes fueron clasificadas pero no penalizadas. 
                Viendo los datos notamos que otras leyes han tenido un aumento a la pena en el delito (abigeato, maltrato animal y extorsión).
              </p>
              <br>
              <p class="mb-0"><strong>Resultados:</strong></p>
              <br>
              <table>
                <tr>
              
                  <th scope="col">ID</th>
              
                  <th scope="col">Abstract</th>
              
                  <th scope="col">TF/IDF</th>

                  <th scope="col">Status</th>
              
                </tr>
              
                <tr>
              
                  <td>5761</td>
              
                  <td>Aumentar la pena en el delito de abigeato.</td>
              
                  <td>1.966084</td>

                  <td>Aprobada</td>
              
                </tr>
              
                <tr>
              
                  <td>8613</td>
              
                  <td>Tipificar el delito de maltrato y la crueldad animal.</td>
              
                  <td>1.720111</td>

                  <td>Aprobada</td>
              
                </tr>
              
                <tr>
              
                  <td>5087</td>
              
                  <td>Tipificar el delito de acoso sexual.</td>
              
                  <td>1.403997</td>

                  <td>Aprobada</td>
              
                </tr>

                <tr>
              
                  <td>5654</td>
              
                  <td>Tipificar el delito de lesiones cometidas contra la mujer en razón de su género.</td>
              
                  <td>1.303174</td>

                  <td>Aprobada</td>
              
                </tr>

                <tr>
              
                  <td>4616</td>
              
                  <td>Reformar la constitución a fin de habilitar al congreso de la unión para la expedición de la "ley general para garantizar y promover la paridad de género".</td>
              
                  <td>0.643571</td>

                  <td>Desechada</td>
              
                </tr>
              </table>
              <br>
              <p class="mb-0">La razón por la que nos llamó la atención esta situación, fue, principalmente, por el mal manejo que existe en el sexenio de AMLO
                en el tema de la violencia de género. Puesto  que, si se comparan los primeros 10 meses de 2019 con el 2020, las denuncias por violencia familiar se
                incrementaron 3.4% y por violencia de género, 26%; mientras que las llamadas al 911 por violencia contra la mujer subieron 40% y las de acoso u 
                hostigamiento sexual, 12%, de acuerdo con el Secretariado Ejecutivo del Sistema Nacional de Seguridad Pública. Es decir, desde que inició el sexenio de
                AMLO, los casos de violencia de género han aumentado, analizando las iniciativas, vemos que no se ha propuesto soluciones o cambios de leyes, que busquen 
                solucionar esto (De La Rosa & Ordaz Díaz, 2020).
              </p>

              <section class="page-section clearfix">
                <div class="container">
                  <div class="introse">
                    <img class="introse-img img-fluid mb-3 img-center mb-lg-0 rounded" src="{% static 'Pagina_web_analisis_app/img/datos_violencia.jpg' %}" alt="">
                    <p>(García, 2021).</p>
                  </div>
                </div>
              </section>

              <p class="mb-0">Nos encontramos, también, con que muchas de las leyes modificadas del código penal federal contenían las palabras: maltrato y animal.
                Al analizar estas leyes notamos que estas fueron tipificadas pero también había varías leyes que se concentran en aumentar la pena en el delito. Del mismo
                modo, pudimos observar varios aumentos a las penas de distintos delitos, es decir, si han hecho cambios en el aumento de penas, sin embargo, en el tema de la 
                violencia de género no los hay. 
              </p>
              <br>
              <p class="mb-0"><strong>Ejemplos de aumento de penas en algunos delitos:</strong></p>
              <br>
              <table>
                <tr>
              
                  <th scope="col">ID</th>
              
                  <th scope="col">Abstract</th>
              
                  <th scope="col">TF/IDF</th>

                  <th scope="col">Status</th>
              
                </tr>
              
                <tr>
              
                  <td>7701</td>
              
                  <td>Incrementar las sanciones de pena y multa que se aplican a la persona que realice actos de extorsión.</td>
              
                  <td>1.305455</td>

                  <td>Aprobada</td>
              
                </tr>
              
                <tr>
              
                  <td>5761</td>
              
                  <td>Aumentar la pena en el delito de abigeato.</td>
              
                  <td>1.251002</td>

                  <td>Aprobada</td>
              
                </tr>
              
                <tr>
              
                  <td>4526</td>
              
                  <td>Incrementar la pena a quien cometa el delito de turismo sexual y precisar los supuestos en los que se aumentará la pena.</td>
              
                  <td>1.038838</td>

                  <td>Aprobada</td>
              
                </tr>

                <tr>
              
                  <td>22865</td>
              
                  <td>La iniciativa propone aumentar la pena privativa de libertad y multa al delito de tráfico ilegal de personas. Además, se señala expresamente que las víctimas migrantes de ese delito no podrán ser sujetas a proceso penal.</td>
              
                  <td>0.970845</td>

                  <td>Aprobada</td>
              
                </tr>

                <tr>
              
                  <td>5529</td>
              
                  <td>Aumentar la sanción a quien cometa el delito de extorsión y considerar que ameritan prisión preventiva oficiosa.</td>
              
                  <td>0.931043</td>

                  <td>Aprobada</td>
              
                </tr>
              </table>
              <br>
              <p class="mb-0"><strong>Ley general de educación</strong></p>
              <br>
              <p class="mb-0">También, se analizaron, las leyes que modificaban la ‘Ley general de educación’ (segunda ley más modificada en el sexenio de AMLO y quinta en el sexenio de Peña).
              </p>
              <br>
              <p class="mb-0">Se usó, la siguiente lista de tokens, para el análisis del TF/IDF:
              </p>
              <br>
              <p class="mb-0"><strong>Tokens:</strong> [Educación, eliminar, establecer, promover, garantizar, escolar, protocolos, estudio, capacitar, profesores, género]</p>
              <br>
              <p class="mb-0">Analizando los resultados, nos pudimos percatar que se sigue la línea de la violencia de género. Puesto que, hay leyes que buscan
                 fomentar la erradicación de este tópico dentro de las escuelas. Se habla de establecer mecanismos para eliminar la violencia escolar, 
                 garantizar y promover la paridad de género y el estudio de las construcciones culturales y sociales propias para las mujeres; diseñar e 
                 implementar programas de estudio con perspectiva y paridad de género.
              </p>
              <br>
              <p class="mb-0"><strong>Resultados:</strong></p>
              <br>
              <table>
                <tr>
              
                  <th scope="col">ID</th>
              
                  <th scope="col">Abstract</th>
              
                  <th scope="col">TF/IDF</th>

                  <th scope="col">Status</th>
              
                </tr>
              
                <tr>
              
                  <td>6114</td>
              
                  <td>Establecer mecanismos para erradicar la violencia escolar.</td>
              
                  <td>0.791164</td>

                  <td>Aprobada</td>
              
                </tr>
              
                <tr>
              
                  <td>6132</td>
              
                  <td>Establecer que en todos los niveles educativos se diseñarán e implementarán planes y programas de estudio con perspectiva de género.</td>
              
                  <td>0.665447</td>

                  <td>Aprobada</td>
              
                </tr>
              </table>
              <br>
              <p class="mb-0">Podriamos decir, que en el tema de la educación sí se está buscando una solución a la desigualdad de género, puesto que, se están implementando planes y mecanismos
                para poder erradicarla.
              </p>
              <br>
              <p class="mb-0"><strong>Búsqueda personalizada</strong></p>  
              <br>
              <p class="mb-0">Hicimos una búsqueda dentro de todas las iniciativas para analizar qué se hizo y se está haciendo en México para disminuir la desigualdad de género.
                Esto, principalmente, con el fin de poder contrastar los datos obtenidos en las leyes más modificadas.
              </p>
              <br>
              <p class="mb-0">Para eso, se definió una lista de tokens única, en la cual se tocan todos los temas relevantes en el tema de la desigualdad de género</p>
              <br>
              <p class="mb-0"><strong>Tokens:</strong> [Aumentar, delito, discriminación, género, igualdad, mujer, mujeres, niñas, perspectiva, protección, reducir, sexista, sexo, social, violación, violaciones, violencia]</p>
              <br>
              <p class="mb-0"><strong>Resultados:</strong></p>
              <br>
              <table>
                <tr>
              
                  <th scope="col">ID</th>
              
                  <th scope="col">Abstract</th>
              
                  <th scope="col">TF/IDF</th>

                  <th scope="col">Status</th>
              
                </tr>
              
                <tr>
              
                  <td>9248</td>
              
                  <td>Incluir la perspectiva de género para contribuir a la igualdad entre hombres y mujeres.</td>
              
                  <td>1.482463</td>

                  <td>Aprobada</td>
              
                </tr>
              
                <tr>
              
                  <td>8578</td>
              
                  <td>Promover la igualdad sustantiva entre mujeres y hombres y la no discriminación por razón de género.</td>
              
                  <td>1.255586</td>

                  <td>Aprobada</td>
              
                </tr>

                <tr>
              
                  <td>5727</td>
              
                  <td>Incluir las definiciones de violencia política contra las mujeres, violencia política de género y en razón de género y precisar las sanciones. regir las actividades del instituto nacional electoral por el principio de perspectiva de género y capacitar al personal para prevenir y erradicar la violencia política de género. promover por los partidos políticos la igualdad sustantiva y participación paritaria en la integración de sus órganos, así como en la postulación de candidatos. incluir a las obligaciones de los partidos políticos, sancionar todo acto de violencia política de género. facultar a la coordinación de métodos de investigación de la fiscalía general de la república, para crear la base estadística nacional de violencia política de género.</td>
              
                  <td>1.163704</td>

                  <td>Aprobada</td>
              
                </tr>
              
                <tr>
              
                  <td>18906</td>
              
                  <td>Incluir en los contenidos de radio y televisión la perspectiva de género y erradicación de la violencia contra las mujeres, atribuir al instituto nacional de las mujeres, promover la transmisión de programas de interés cultural y cívico e intervenir en materia de radiodifusión para divulgar temas dedicados para erradicar la violencia de género y promover contenidos con perspectiva de género.</td>
              
                  <td>1.152025</td>

                  <td>Desechada</td>
              
                </tr>

                <tr>
              
                  <td>21612</td>
              
                  <td>Incorporar la perspectiva de género y el respeto a los derechos laborales de las mujeres.</td>
              
                  <td>1.134531</td>

                  <td>Desechada</td>
              
                </tr>

                <tr>
              
                  <td>20687</td>
              
                  <td>Garantizar que en las situaciones de riesgo y desastre, en lo relativo a la atención a las mujeres, se diseñe y ejecute tomando en cuenta su condición de vulnerabilidad de género y las necesidades propias de su sexo, para lo cual se deberán incorporar acciones y medidas de prevención, atención y protección de las diferentes modalidades de violencia contra las mujeres y niñas, en el programa nacional de protección civil.</td>
              
                  <td>1.123759</td>

                  <td>Aprobada</td>
              
                </tr>
              
                <tr>
              
                  <td>21393</td>
              
                  <td>Establecer la protección contra la publicidad sexista.</td>
              
                  <td>1.119274</td>

                  <td>Desechada</td>
              
                </tr>
              </table>
              <br>
              <p class="mb-0">Nota: Nos percatamos, de que en el Apilegislativo existe información repetida.</p>
              <br>
              <p class="mb-0"><strong>Conclusión:</strong></p>
              <br>
              <p class="mb-0">Primero, nos encontramos con la importancia de tener acceso a este tipo de datos y concluimos que es necesario que este tipo de bases de datos sean analizadas y mejoradas de tal forma que el público pueda tener acceso a ellas de manera fácil y eficiente. No es solo tener los datos, es poder compartirlos y lograr el objetivo de informar.
                </p>
                <br>
                <p class="mb-0">Segundo, notamos que los sexenios de Peña y AMLO tienen patrones similares pero en cuanto a la manera de dar enfoque a sus acciones difieren muchísimo. Como vimos, cada sexenio tuvo diferentes tipos de leyes que modificaron.
                </p>
                <br>
                <p class="mb-0">Tercero, la inequidad de género en México es un problema grave y real. A pesar de que no somos expertos en el ámbito político nos damos cuenta que hace falta un mayor esfuerzo por parte del gobierno para manejar el tema. Los delitos contra la mujer necesitan ser más que solo clasificados. Necesitan tener la misma atención que los demás delitos y ser tratados con las mismas acciones. Asimismo, sería bueno que los estímulos de ISR que se den estén más dirigidos a este tema.</p>
                <br>
                <p class="mb-0">Por último, creemos que la educación es una manera excelente de combatir este grave problema, por esto creemos que lo mejor sería que se sigan incluyendo temas de equidad en los temarios escolares y capacitación para los profesores en este tema.
                </p>
                <p class="mb-0">El gobierno hace las leyes, las aprueba o rechaza, sin embargo, como ciudadanos nuestro deber es estar al tanto de esas iniciativas y lo que sucede con ellas. Para esto, el mejor comienzo es informarse.
                </p>
                <br>
                <p class="mb-0"><strong>Bibliografía:</strong></p>
                <br>
                <p class="mb-0">
                  <ul>
                    <li>
                      Comisión Nacional para Prevenir y Erradicar la Violencia Contra las Mujeres. (22 de Noviembre de 2018). ¿Qué es la perspectiva de género y por qué es necesario implementarla? Obtenido de Gobierno de México: <a class="nav-link text-uppercase text-expanded" href="https://www.gob.mx/conavim/articulos/que-es-la-perspectiva-de-genero-y-por-que-es-necesario-implementarla">Link</a>
                    </li>
                    <li>
                      De La Rosa, Y., & Ordaz Díaz, A. (1 de Diciembre de 2020). 2 años de AMLO: Violencia de género, desestimada… y al alza. Obtenido de Forbes : <a class="nav-link text-uppercase text-expanded" href="https://www.forbes.com.mx/politica-2-anios-amlo-violencia-genero-desestimada-alza/">Link</a>
                    </li>
                    <li>
                      García, A. K. (18 de Agosto de 2021). Tlaxcala se suma a las entidades con alerta por violencia de género. Obtenido de El Economista: <a class="nav-link text-uppercase text-expanded" href="https://www.eleconomista.com.mx/politica/Tlaxcala-se-suma-a-las-entidades-con-alerta-por-violencia-de-genero-20210818-0042.html">Link</a>
                    </li>
                    <li>
                      Instituto Mexicano de Contadores Públicos. (15 de Octubre de 2019). ISR: qué es, cuándo aplica y cómo se calcula. Obtenido de Instituto Mexicano de Contadores Públicos: <a class="nav-link text-uppercase text-expanded" href="https://imcp.org.mx/isr-que-es-cuando-aplica-y-como-se-calcula/">Link</a>
                    </li>
                    <li>
                      Juárez, B. (18 de Octubre de 2021). Brecha de género en las áreas públicas de educación y ciencia llega hasta 30%. Obtenido de El Economista: <a class="nav-link text-uppercase text-expanded" href="https://www.eleconomista.com.mx/capitalhumano/Brecha-de-genero-en-las-areas-publicas-de-educacion-y-ciencia-llega-hasta-30-20211017-0002.html">Link</a> 
                    </li>
                    <li>
                      Las sesiones. (30 de noviembre de 2021). Obtenido de Cámara de diputados LXV legislatura: <a class="nav-link text-uppercase text-expanded" href="http://www3.diputados.gob.mx/camara/001_diputados/007_destacados/d_accesos_directos/006_glosario_de_terminos/rr_las_sesiones">Link</a>  
                    </li>
                    <li>
                      Pictoline. (25 de Noviembre de 2015). En el Día Internacional contra la Violencia de Género, las estadísticas en México son alarmantes:. Obtenido de Facebook: <a class="nav-link text-uppercase text-expanded" href="https://www.facebook.com/pictoline/photos/en-el-d%C3%ADa-internacional-contra-la-violencia-de-g%C3%A9nero-las-estad%C3%ADsticas-en-m%C3%A9xico/1650067065252432/">Link</a>  
                    </li>
                    <li>
                      Wikipedia. (2019). Tf-idf. diciembre 09, 2021, de Wikipedia Sitio web: <a class="nav-link text-uppercase text-expanded" href="https://es.wikipedia.org/wiki/Tf-idf">Link</a>
                    </li>
                  </ul>
                </p>
            </h4>       
        </div>
      </div>
    </section>
    <br>
  
    

{% endblock %}

