{% extends "Pagina_web_analisis_app/base.html" %}

{% load static %}

{% block content %} 
<body>
    <h2 class="site-heading text-center text-white d-none d-lg-block">
      
        <span class="site-heading-more-lower">Estad&iacute;sticas de comparaci&oacute;n entre el gobierno de EPN y AMLO</span>
      </h2>
<!-- Heading -->
<section class="page-section clearfix">
    <div class="container">
      <div class="before">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded float-left" src="{% static 'Pagina_web_analisis_app/img/epn_amlo_comp.png' %}" alt="">
        <div class="intro-text left-0 bg-faded p-5 rounded">
          <h2 class="section-heading text-center mb-4" >
            <span class="section-heading-upper">Iniciativas aprobadas y desechadas</span>
            <span class="section-heading-lower">EPN vs AMLO</span>
          </h2>
          <ul>
            <li>
          <p class="mb-3">Por un lado, la cantidad de iniciativas aprobadas de AMLO, son prácticamente iguales a las de EPN, por el otro lado, las iniciativas
            desechadas de cada uno muestran una gran diferencia, pues se puede observar fácilmente que a Peña se le desechó una cantidad mucho mayor.
          </p>
          </li>
        </ul>
        </div>
      </div>
    </div>
  </section>

  <h2 class="site-heading text-center text-white d-none d-lg-block">
      
    <span class="site-heading-more-lower">Comparaci&oacute;n de los primeros tres años de gobierno por presidente</span>
  </h2>
  <br>

  <!-- Heading_2 -->
<section class="page-section clearfix">
    <div class="container">
      <div class="beforeLow">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'Pagina_web_analisis_app/img/2012_2013_trim.png' %}" alt="">
        <div class="intro-text left-0 bg-faded p-5 rounded">
          <h2 class="section-heading text-center mb-4" >
            <span class="section-heading-upper">Los cuatro primeros trimestres de</span>
            <span class="section-heading-lower">EPN</span>
          </h2>
          <ul>
            <li>
          <p class="mb-3">El último trimestre es el que más iniciativas aprobadas tiene con 159, que representa más del 60% del total</p>
          </li>
          <li>
            <p class="mb-3">El segundo trimestre fue el segundo que más iniciativas aprobadas tuvo.</p>
          </li>
        </ul>
        </div>
      </div>
    </div>
  </section>
  <br>

    <!-- Heading_3 -->
<section class="page-section clearfix">
    <div class="container">
      <div class="beforeLowLe">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'Pagina_web_analisis_app/img/2018_2019_trim.png' %}" alt="">
        <div class="intro-text left-0 bg-faded p-5 rounded">
          <h2 class="section-heading text-center mb-4" >
            <span class="section-heading-upper">Los cuatro primeros trimestres de</span>
            <span class="section-heading-lower">AMLO</span>
          </h2>
          <ul>
            <li>
          <p class="mb-3">El último trimestre es el que más iniciativas aprobadas tiene con 298, que representa más del 60% del total</p>
          </li>
          <li>
            <p class="mb-3">El segundo trimestre fue el segundo que más iniciativas aprobadas tuvo.</p>
          </li>
        </ul>
        </div>
      </div>
    </div>
  </section>
  <br>

  <!-- Heading_4 -->
<section class="page-section clearfix">
    <div class="container">
      <div class="beforeLow">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'Pagina_web_analisis_app/img/2013_2014_trim.png' %}" alt="">
        <div class="intro-text left-0 bg-faded p-5 rounded">
          <h2 class="section-heading text-center mb-4" >
            <span class="section-heading-upper">Los cuatro trimestres del 2014 de</span>
            <span class="section-heading-lower">EPN</span>
          </h2>
          <ul>
            <li>
          <p class="mb-3">En el primer trimestre del segundo año, hubo gran cantidad de iniciativas aprobadas, conforme avanzó el año este número fue disminuyendo.
          </p>
          </li>
          <li>
            <p class="mb-3">Se repitió la tendencia de que en el cuarto trimestre se aprobaran más del 60% de las iniciativas en ese año.</p>
          </li>
        </ul>
        </div>
      </div>
    </div>
  </section>
  <br>

    <!-- Heading_5 -->
<section class="page-section clearfix">
    <div class="container">
      <div class="beforeLowLe">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'Pagina_web_analisis_app/img/2019_2020_trim.png' %}" alt="">
        <div class="intro-text left-0 bg-faded p-5 rounded">
          <h2 class="section-heading text-center mb-4" >
            <span class="section-heading-upper">Los cuatro trimestres del 2020 de</span>
            <span class="section-heading-lower">AMLO</span>
          </h2>
          <ul>
            <li>
          <p class="mb-3">En el primer trimestre del segundo año, hubo gran cantidad de iniciativas aprobadas, conforme avanzó el año este número fue disminuyendo.
          </p>
          </li>
          <li>
            <p class="mb-3">Se repitió la tendencia de que en el cuarto trimestre se aprobaran más del 60% de las iniciativas en ese año.</p>
          </li>
        </ul>
        </div>
      </div>
    </div>
  </section>

  <br>

    <!-- Heading_6 -->
<section class="page-section clearfix">
    <div class="container">
      <div class="beforeLow">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'Pagina_web_analisis_app/img/2014_2015_trim.png' %}" alt="">
        <div class="intro-text left-0 bg-faded p-5 rounded">
          <h2 class="section-heading text-center mb-4" >
            <span class="section-heading-upper">Los cuatro trimestres del 2015 de</span>
            <span class="section-heading-lower">EPN</span>
          </h2>
          <ul>
            <li>
          <p class="mb-3">De acuerdo con los gráficos, notamos que el primero y el segundo trimestre son muy parecidos en la cantidad de iniciativas aprobadas</p>
          </li>
          <li>
            <p class="mb-3">A diferencia de los demás años de Peña, en el cuatro trimestre hubo una disminución muy significativa, en comparación, a los otros 
              trimestres
            </p>
          </li>
          <li>
            <p class="mb-3">Cabe resaltar que en el tercer trimestre no hubo datos de iniciativas aprobadas</p>
          </li>
        </ul>
        </div>
      </div>
    </div>
  </section>
  <br>
  <br>
  <br>
  <br>

    <!-- Heading_7 -->
<section class="page-section clearfix">
    <div class="container">
      <div class="beforeLowLe">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'Pagina_web_analisis_app/img/2020_2021_trim.png' %}" alt="">
        <div class="intro-text left-0 bg-faded p-5 rounded">
          <h2 class="section-heading text-center mb-4" >
            <span class="section-heading-upper">Los cuatro trimestres del 2021 de</span>
            <span class="section-heading-lower">AMLO</span>
          </h2>
          <ul>
            <li>
          <p class="mb-3">A comparación de los años pasados, notamos que el número de iniciativas aprobadas es mucho mayor, en ambos trimestres.</p>
          </li>
          <li>
            <p class="mb-3">Aunque no tenemos datos completos del último trimestre, es muy probable que la tendencia se repita.</p>
          </li>
        </ul>
        </div>
      </div>
    </div>
  </section>
  <br>

  <!-- Heading_7.1 -->
  <section class="page-section cta">
    <div class="container">
            <h3 class="section-heading mb-4">
              <span class="section-heading-lower text-center">Períodos de sesiones</span>
            </h3>
            <h4>
            <p class="mb-0">Existen dos tipos de periodos:</p>
            <ol>
              <li>
                <p class="mb-0">Sesiones ordinarias:</p>
                <ul>
                  <li>
                    <p class="mb-0">Se desarrollan en fechas establecidas formalmente. Existen dos periodos de sesiones ordinarias por año legislativo del 
                      primero de septiembre hasta el 15 de diciembre, o hasta el 31 de diciembre en el año de renovación del titular del Poder Ejecutivo 
                      Federal; y del primero de febrero hasta el 30 de abril. </p>   
                  </li>
                </ul>
              </li>
              <li>
                <p class="mb-0">Sesiones extraordinarias:</p>
                <ul>
                  <li>
                    <p class="mb-0">Se desarrollan sin fechas establecidas y son convocados por la Comisión Permanente por sí misma o a solicitud del Presidente
                       de la República.</p>
                  </li>
                </ul>
              </li>
            </ol>
            <p>(Las sesiones, 2021)</p>
          </h4>
      </div>
  </section>




  <h2 class="site-heading text-center text-white d-none d-lg-block">
      <br>
      <br>
    <span class="site-heading-more-lower">Comparaci&oacute;n de las diez leyes más modificadas por sexenio</span>
  </h2>

  <!-- Heading_8 -->
<section class="page-section clearfix">
    <div class="container">
      <div class="before">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded float-left" src="{% static 'Pagina_web_analisis_app/img/leyes_epn_mod.png' %}" alt="">
        <div class="intro-text left-0 bg-faded p-5 rounded">
          <h2 class="section-heading text-center mb-4" >
            <span class="section-heading-upper">Diez leyes con más modificaciones en el sexenio de</span>
            <span class="section-heading-lower">EPN</span>
          </h2>
          <ul>
            <li>
          <p class="mb-3">El sexenio de EPN se enfoca principalmente en las leyes de:</p>
              <ul>
                <li>
                  <p class="mb-3">Constitución política de los Estados Unidos Mexicanos con 139 modificaciones</p>
                </li>
                <li>
                  <p class="mb-3">Ley del impuesto sobre la renta con 82 modificaciones</p>
                </li>
                <li>
                  <p class="mb-3">Ley general de salud con 40 modificaciones</p>
                </li>
              </ul>
          </li>
        </ul>
        </div>
      </div>
    </div>
  </section>

   <!-- Heading_9 -->
<section class="page-section clearfix">
    <div class="container">
      <div class="beforeTwo">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded float-right" src="{% static 'Pagina_web_analisis_app/img/leyes_amlo_mod.png' %}" alt="">
        <div class="intro-text left-0 bg-faded p-5 rounded">
          <h2 class="section-heading text-center mb-4" >
            <span class="section-heading-upper">Diez leyes con más modificaciones en el sexenio de</span>
            <span class="section-heading-lower">AMLO</span>
          </h2>
          <ul>
            <li>
          <p class="mb-3">El sexenio de AMLO se enfoca principalmente en las leyes de:</p>
              <ul>
                <li>
                  <p class="mb-3">Ley del impuesto sobre la renta con 110 modificaciones</p>
                </li>
                <li>
                  <p class="mb-3">Ley general de educación con 78 modificaciones</p>
                </li>
                <li>
                  <p class="mb-3">Código penal federal con 70 modificaciones</p>
                </li>
              </ul>
          </li>
        </ul>
        </div>
      </div>
    </div>
  </section>
  

  <!-- Explicación -->
  <section class="page-section cta">
    <div class="container">
            <h3 class="section-heading mb-4">
              <span class="section-heading-lower text-center">Ley que modifica</span>
            </h3>
            <h4>
            <p class="mb-0">Existen varias iniciativas que no modfican a una ley en específico, pero aparecen en nuestro análisis. Esto tiene que ver con 
              modificaciones de reglamento o días festivos.
            </p>
          </h4>
      </div>
  </section>

  <h2 class="site-heading text-center text-white d-none d-lg-block">
      
    <span class="site-heading-more-lower">Comparaci&oacute;n de iniciativas aprobadas y desechadas por partido en cada sexenio</span>
  </h2>

  <!-- Heading_10 -->
  <section class="page-section clearfix">
    <div class="container">
      <div class="introse">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<img class="introse-img img-fluid mb-3 img-center mb-lg-0 rounded" src="{% static 'Pagina_web_analisis_app/img/partido_epn_amlo_apro.png' %}" alt="">
      </div>
    </div>
  </section>

   <!-- Heading_10.1 -->
   <section class="page-section cta">
    <div class="container">
        <p class="mb-0 text-center">INICIATIVAS APROBADAS POR PARTIDO EN LOS SEXENIOS DE:</p>
            <h3 class="section-heading mb-4">
              <span class="section-heading-lower text-center">EPN Y AMLO</span>
            </h3>
            <h4>
            <ul>
              <li>
                <p class="mb-0">Analizando las propuestas aprobadas, podemos ver el cambio que ocurrió cuando Enrique Peña Nieto dejo el poder presidencial. Las iniciativas del PRI fueron las 
                  más aprobadas durante el sexenio de EPN, mientras que las de otros partidos como el PAN y el Partido Verde (conocidos como partidos de “derecha”), también contaron con una gran cantidad de iniciativas aprobadas. </p>
                   </li>
                   <li>
                  <p class="mb-0">Cuando ocurre el cambio de presidente, las iniciativas aprobadas de Morena crecen de manera notoria. La "derecha" sufre un cambio importante con respecto al impacto en 
                    la modificación de las leyes. Debido a los valores que representa Morena esto era de esperarse, sin embargo, el PAN todavía mantiene cierto poder en su aprobación de iniciativas lo 
                    cual indica que todavía hay peso por parte de los ideales de “derecha”.</p>
              </li>
            </ul>
          </h4>
      </div>
  </section>

  <!-- Heading_11 -->
  <section class="page-section clearfix">
    <div class="container">
      <div class="introse">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<img class="introse-img img-fluid mb-3 img-center mb-lg-0 rounded" src="{% static 'Pagina_web_analisis_app/img/partido_epn_amlo_des.png' %}" alt="">
      </div>
    </div>
  </section>
   <!-- Heading_11.1 -->
   <section class="page-section cta">
    <div class="container">
        <p class="mb-0 text-center">INICIATIVAS DESECHADAS POR PARTIDO EN LOS SEXENIOS DE:</p>
            <h3 class="section-heading mb-4">
              <span class="section-heading-lower text-center">EPN Y AMLO</span>
            </h3>
            <h4>
            <ul>
              <li>
                <p class="mb-0">Podemos apreciar que en ambos sexenios se repite la tendencia, que el partido en el poder tiene mayor cantidad de iniciativas rechazadas</p>
              </li>
              <li>
                <p class="mb-0">También, es relevante que en ambos gobiernos el PAN ocupa el segundo lugar con mayor número de iniciativas desechadas.</p>
              </li>
              <li>
                <p class="mb-0">Por último, a partir de la salida de AMLO del PRD, este partido perdió poder y protagonismo, pasando de ser uno de los tres más dominantes a un partido sin mucha relevancia.</p>
              </li>
            </ul>
          </h4>
      </div>
  </section>

  </body>

{% endblock %}