{% extends "Pagina_web_analisis_app/base.html" %}

{% load static %}

{% block content %} 

  <!-- Message -->
  
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner rounded">
            <h2 class="section-heading mb-4">
                <p></p>
              <span class="section-heading-lower text-center">Contáctanos</span>
            </h2>
            <form action="/contacto" method="POST"> {% csrf_token %}
                <p>Nombre completo: <input type="text" name="nombre" size="40"></p>
                <p></p>
                <p>Asunto: <input type="text" name="asunto" size="48" enable></p>
                <p></p>
                <p>Email: <input type="text" name="email" size="49"></p>
                <p></p>
                <p>Asunto: </p>
                    <textarea name="mensaje" rows="18" cols="68"></textarea>
                <p></p>
                <input class="text-center" type="submit" value="Enviar">
            </form>
          </div>
        </div>
      </div>
    </div>


{% endblock %}