{% extends "Pagina_web_analisis_app/base.html" %}

{% load static %}

{% block content %} 

  <br>
  <br>
    <!-- Message -->
    <h1 class="section-heading mb-4">
        <p></p>
      <span class="section-heading-lower text-center">Definición del TF/IDF</span>
    </h1>

 <!-- Heading_1 -->
 <section class="page-section cta">
    <div class="container">
            <h3 class="section-heading mb-4">
              <span class="section-heading-lower text-center">Term Frequency / Inverse Document Frequency</span>
            </h3>
            <h4>
            <p class="mb-0">En español, conocido como frecuencia de término - frecuencia inversa de documento
                es una medida numérica, la cual va a expresar que tan relevante es una palabra para un documento 
                dentro de una colección. El valor del tf/idf va a aumentar proporcionalmente al número de veces que una
                palabra aparece en el documento, pero va a ser compensada por la frecuencia de la palabra en la colección
                de documentos, lo que permite manejar el hecho de que algunas palabras van a ser más comunes que otras. (Wikipedia, 2019)
            </p>
            <br>   
            <p class="mb-0">Este esquema es frecuentemente usado para los motores de búsqueda como una herramienta
                sumamente fundamental para medir la relevancia de un documento dada cierta consulta del usuario, estableciendo,
                por lo tanto, una ordenación o un ranking de los mismos.
            </p>
            <br>
            <p class="mb-0">Por último, cabe destacar, que cuando se obtiene un valor mayor a 1 en el TF/IDF podemos afirmar 
                que tiene una relevancia importante y certera, en cuanto a los términos que estamos aplicando dentro de la colección de documentos.
            </p>
            <p>(Las sesiones, 2021)</p>
          </h4>
      </div>
  </section>