{% extends "Pagina_web_analisis_app/base.html" %}

{% load static %}

{% block content %} 

<br>
  <br>
    <!-- Heading -->
    <h1 class="section-heading mb-4">
        <p></p>
      <span class="section-heading-lower text-center">¿Qué hacemos?</span>
    </h1>

    <!-- Message 1 -->
  <section class="page-section cta">
    <div class="container">
        <h4>
            <p class="mb-0">Nosotros desarrollamos una página web donde se puede observar el análisis de las iniciativas de ley en México. En este análisis,
                se comparan las iniciativas de ley por sexenio, trimestre, partido y ley más modificada. También, se analizan los casos de iniciativas aprobadas
                y desechadas. Además, se implementó un análisis con la ayuda del Term Frequency / Inverse Document Frequency (<a class="nav-link" href="{% url 'Definición tfidf' %}" target="_blank">tf/idf</a> por sus siglas en inglés), mismo que se presenta en la 
                página. Por otra parte, se habilitó para los usuarios capacitados un página en la que se puede realizar un TF/IDF sobre las iniciativas, 
                esto, para facilitar la búsqueda de iniciativas relevantes. Del mismo modo, implementamos un buscador de propuestas él cual es accesible para todos
                los usuarios.
            </p>
          </h4>
          <br>
            <h3 class="section-heading mb-4">
              <span class="section-heading-lower text-center">Diagrama de flujo del desarrollo web</span>
            </h3>
            
            <section class="page-section clearfix">
                <div class="container">
                  <div class="introse">
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<img class="introse-img img-fluid mb-3 img-center mb-lg-0 rounded" src="{% static 'Pagina_web_analisis_app/img/Diagrama_de_flujo_web.png' %}" alt="">
                  </div>
                </div>
              </section>

              <h4>
                <p class="mb-0">Es necesario saber, que todos los datos que tenemos en nuestro desarrollo provienen del Apilegislativo. Es nuestra fuente de datos, 
                    la cual solo se usa para la extracción y almacenamiento de la misma. 
                </p>
              </h4>
              <br>
              <h4>
                <p class="mb-0">Explicación de los procesos:
                </p>
                <br>
                <ol>
                    <li>
                        <p class="mb-0">Se consulta el Apilegislativo para así conocer los datos que este contiene, delimitando, nada más los necesarios para
                            nuestro análisis.
                        </p>
                    </li>
                    <li>
                        <p class="mb-0">Después de haber seleccionado y extraído los datos, los guardamos en nuestra propia base de datos. Un API de Azure Cosmos DB 
                          para MongoDB el cual vive en el este de US, en los servidores de Azure. 
                        </p>
                    </li>
                    <li>
                        <p class="mb-0">Con un código desarrollado en Python realizamos todo el análisis, para así poder obtener las gráficas. 
                        </p>
                    </li>
                    <li>
                        <p class="mb-0">Así, llegamos al punto en donde nos encontramos, desarrollamos una página web en Django, una librería de Python.
                            También, con ayuda de HTML, CSS y Bootstrap, le damos diseño y vida a la página. 
                        </p>
                    </li>
                    <li>
                        <p class="mb-0">Nuestra página web va a vivir en el Centro de EE. UU. en los servidores de Azure. Gracias a los app services de Azure, 
                            nuestra página va a tener soporte suficiente para ejecutarse y ser consultada, sin saturarse.
                        </p>
                    </li>
                    <li>
                        <p class="mb-0">Por último, contamos con otro servicio de la familia Azure, hablamos de un Datalake que vive en el Este de EE. UU. en los servidores
                            de Azure. Este es el encargado de almacenar todos los resultados de las consultas del TF/IDF.
                        </p>
                    </li>
                </ol>
              </h4>
      </div>
  </section>

{% endblock %}