{% extends "Pagina_web_analisis_app/base.html" %}

{% load static %}

{% block content %} 

<br>
  <br>
    <!-- Heading -->
    <h1 class="section-heading mb-4">
        <p></p>
      <span class="section-heading-lower text-center">¿Quiénes somos?</span>
    </h1>

    <!-- Message 1 -->
  <section class="page-section cta">
    <div class="container">
            <h4>
            <p class="mb-0">Somos Anairam, Bruno, Francisco, Luciano y Santiago, un equipo de cinco estudiantes que está desarrollando un proyecto para analizar las 
                iniciativas de ley durante el sexenio de Enrique Peña Nieto, hasta el sexenio de Andrés Manuel López Obrador.
            </p>
            <br>
            <h3 class="section-heading mb-4">
              <span class="section-heading-lower text-center"><strong>Meet the team</strong></span>
            </h3>
            </h4>
            <section class="page-section clearfix">
              <div class="container">
                <div class="introse">
                  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <img class="introse-img img-fluid mb-3 img-center mb-lg-0 rounded" src="{% static 'Pagina_web_analisis_app/img/Meet_the_team.png' %}" alt="">
                  <p></p>
                </div>
              </div>
            </section>

          <h4>
            <p class="mb-0"><Strong>Propósito:</Strong></p>
            <br>
            <p class="mb-o">Nuestro objetivo es poder hacer uso de esa información, para así poder promover, por medio de fuentes creativas y fidedignas, 
                el conocimiento de la situación actual en México en los ámbitos de política, finanzas, educación, salud, entre otros.
            </p>
            <br>
            <p class="mb-0"><Strong>Misión:</Strong></p>
            <br>
            <p class="mb-0">Nuestra misión es poder evolucionar la formación del proyecto, para así poder lograr un objeto de valor el cual ayude en la toma 
                de decisiones de los mexicanos, creando con ello una perspectiva más completa.
            </p>
          </h4>
      </div>
  </section>

{% endblock %}