{% extends "Pagina_web_analisis_app/base.html" %}

{% load static %}

{% block content %} 

<!-- Message -->
<br>
<br>
<h1 class="section-heading mb-4">
  <p></p>
<span class="section-heading-lower text-center">Resultados de la búsqueda</span>
</h1>

  <body>
    <section class="page-section cta">
      <div class="container">
        {% if resultados %}
    
    <p class='mb-3'><Strong>Los resultados son:</Strong></p>
    <br>
    <ol>
        {% for i in resultados %}
        <li>
          <table>
            <tr>
          
              <th scope="col">Dato</th>
          
              <th scope="col">Valor</th>
          
            </tr>
          
            <tr>
          
              <td>id</td>
          
              <td>{{ i.id }}</td>
          
            </tr>

            <tr>
          
              <td>Título</td>
          
              <td>{{ i.title }}</td>
          
            </tr>

            <tr>
          
              <td>Resumen</td>
          
              <td>{{ i.abstract }}</td>
          
            </tr>

            <tr>
          
              <td>Autores</td>
          
              <td>{{ i.authors }}</td>
          
            </tr>

            <tr>
          
              <td>Fecha de anuncio</td>
          
              <td>{{ i.date_anounced }}</td>
          
            </tr>

            <tr>
          
              <td>Turno</td>
          
              <td>{{ i.turno }}</td>
          
            </tr>

            <tr>
          
              <td>Ley modificada</td>
          
              <td>{{ i.laws_mod }}</td>
          
            </tr>

            <tr>
          
              <td>Status</td>
          
              <td>{{ i.status }}</td>
          
            </tr>

            <tr>
          
              <td>Fecha de resolución</td>
          
              <td>{{ i.status_date }}</td>
          
            </tr>

            <tr>
          
              <td>Presentada en el Estado</td>
          
              <td>{{ i.state_presented }}</td>
          
            </tr>

            <tr>
          
              <td>Presentada en la sesión</td>
          
              <td>{{ i.session_presented }}</td>
          
            </tr>
            
            <tr>
          
              <td>Link al documento</td>
          
              <td><a class="nav-link" href="{{ i.document_link }}" target="_blank">{{ i.document_link }}</a></td>
          
            </tr>

            <tr>
          
              <td>Link al pdf</td>
          
              <td><a class="nav-link" href="{{ i.document_pdf }}" target="_blank">{{ i.document_pdf }}</a></td>
          
            </tr>
          </table>
        </li>
        <br>
        <br>
        {% endfor %}
    </ol>
    {% else %}
        <p class='mb-0'>Búsqueda no encontrada</p>
    {% endif %}
      </div>
    </section>
</body>

{% endblock %}