{% extends "Pagina_web_analisis_app/base.html" %}

{% load static %}

{% block content %} 

<!-- Message -->
  
<div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner rounded">
          <h2 class="section-heading mb-4">
              <p></p>
            <span class="section-heading-lower text-center">El token y/o el ID de la iniciativa son incorrectos.</span>
            <p></p>
            <span class="section-heading-lower text-center">Por favor, verifícalo.</span>
          </h2>
        </div>
      </div>
    </div>
  </div>


{% endblock %}