{% extends "Pagina_web_analisis_app/base.html" %}

{% load static %}

{% block content %} 

<!-- Message -->
  <br>
  <br>
<div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner rounded">
          <h2 class="section-heading mb-4">
              <p></p>
            <span class="section-heading-lower text-center">Consulta de TF/IDF sobre una iniciativa en específico.</span>
          </h2>
          <form action="/consulta_tf_idf" method="GET"> {% csrf_token %}
              <p>ID Token del Apilegislativo: <input type="text" name="id_token"></p>
              <p></p>
              <p>ID de la iniciativa que se quiere consultar: <input type="text" name="id_iniciativa" size="35"></p>
              <p></p>
              <input class="text-center" type="submit" value="Enviar">
          </form>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>


{% endblock %}